<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration"
			type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			requirePermission="true"/>
		<section name="entityFramework"
			type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="ModeloGestionSaludLegacy"
			connectionString="data source=192.168.100.2;initial catalog=GestorItec_Local;persist security info=True;user id=pcNixi;password=1234;MultipleActiveResultSets=True;App=EntityFramework"
			providerName="System.Data.SqlClient"/>
		<add name="Modelo"
			connectionString="data source=172.21.10.31;initial catalog=TokenApiDB;persist security info=True;user id=FusatWeb;password=fusatweb2018;MultipleActiveResultSets=True;App=EntityFramework"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!-- INICIO LOGGER SOLUTO  -->
	<loggingConfiguration name="ApiCoreSolutoLogging" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Rolling Flat File Trace Listener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				fileName="Logs\trace.log" footer="" formatter="Text Formatter" header="" rollFileExistsBehavior="Overwrite" rollInterval="Midnight" rollSizeKB="2048"
				timeStampPattern="yyyyMMddHHmmssffffff" maxArchivedFiles="30" asynchronous="false"/>
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				template="{timestamp}{tab}{localProcessId}{tab}{processName}{tab}{severity}{tab}{message}" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<!-- FIN LOGGER SOLUTO  -->
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<!-- JWT CONFIG-->
		<add key="JWT_SECRET_KEY" value="kNTqubadRw1oER524@hGj@WAP2umZyE6Y!vFp6q1Sty"/>
		<add key="JWT_AUDIENCE_TOKEN" value="https://isapredecodelco.cl/"/>
		<add key="JWT_ISSUER_TOKEN" value="https://isapredecodelco.cl/"/>
		<add key="JWT_EXPIRE_MINUTES" value="300"/>
		<!-- JWT CONFIG-->
		<!--APP-->
		<add key="APP_SECRET_KEY" value="ExD1urn0s"/>
		<add key="APP_SECRET_KEY_ENCRYPT" value="510cda8a4def284bc92a0b8d3dbebd4ea760b8b8183de5cb294d0ed941624514"/>
		<add key="APP_SECRET_KEY_IV_ENCRYPT" value="58d7ec71b546e81dd51815ac658f8ba8"/>
		<!-- ORA|SRV|BOTH -->
		<add key="APP_CONNECTION" value="ORA"/>
		<add key="APP_EMAIL_OVERWRITE_TO" value="oscar.navarro@solutoria.cl"/>
		<add key="APP_EMAIL_OVERWRITE_CC" value="vicente.alvarez@solutoria.cl;claudio.lopez@solutoria.cl"/>
		<!--FIN APP-->
		<!-- PROCEDIMIENTOS ALMACENADO  GESTION DE CASOS -->
		<add key="SE_OBTENER_USUARIOS" value="SP_GET_USUARIOS"/>
		<add key="SE_OBTENER_JEFES_USUARIOS" value="SP_GET_JEFES_USUARIOS @ID_USUARIO, @ID_EMPRESA"/>
		<!-- FIN PROCEDIMIENTOS ALMACENADO GESTION DE CASOS -->
		<add key="SE_GET_LOGIN_SISTEMA" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_GET_ONE_LOGIN_SISTEMA"/>
		<add key="SE_GET_TABLA_SISTEMA" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_GET_ALL_TABLA_SISTEMA"/>
		<add key="SE_GET_ALL_TABLA_SISTEMA_WHERE" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_GET_ALL_TABLA_SISTEMA_WHERE"/>
		<add key="SE_GET_ONE_TABLA_SISTEMA_WHERE" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_GET_ONE_TABLA_SISTEMA_WHERE"/>
		<add key="SE_SAVE_TABLA_SISTEMA" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_SAVE_TABLA_SISTEMA"/>
		<add key="SE_UPDATE_TABLA_SISTEMA" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_UPDATE_TABLA_SISTEMA"/>
		<add key="SE_DELETE_TABLA_SISTEMA" value="ADMGESTIONCASOS.PCK_ADM_SISTEMAS.P_DELETE_TABLA_SISTEMA"/>
		<add key="SE_GET_TABLA_SISTEMA_PARAMETROS" value="ADMGESTIONCASOS.PCK_GCS_BASE_ENTITY.P_GET_ALL_TABLA_SISTEMA"/>

		<add key="SE_RETORNA_RUTA_DOCUMENTOS" value="C:\Sites\NewApiCoreSoluto-Segmentado\PublicacionLoginToken"/>
		<add key="SE_RETORNA_RUTA_AVATAR_USUARIOS" value="/Usuarios/Avatars/"/>


	</appSettings>
	<system.web>
		<compilation targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
				preCondition="integratedMode,runtimeVersionv4.0"/>
			<!-- New addition -->
			<add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304"/>
			<!-- End of new addition -->
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Credentials" value="true"/>
				<add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept, Authorization, Cache-Control"/>
				<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS"/>
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="OPTIONS" allowed="true"/>
					<add verb="POST" allowed="true"/>
					<add verb="GET" allowed="true"/>
					<add verb="HEAD" allowed="false"/>
					<add verb="PUT" allowed="false"/>
					<add verb="PATCH" allowed="false"/>
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
<!--ProjectGuid: 914C659B-CCDE-47F9-BFEB-2E7D448B1BC2-->